#board
{
width:631px;
height:628px;
border:10px solid darkgrey;
margin:0px auto;
}

.green
{
background-color: #009900;
}
.red
{
background-color: #FF0000;
}
.blue
{
background-color: #66CCFF;
}
.yellow
{
background-color: #FFCC00;
}
#redbox
{
width:250px;
height:250px;
border: 1px solid;
float:left;
background-color: #FF0000;
}

.whitebox
{
width:150px;
height:150px;
border: 1px solid;
float:left;
margin-top:50px;
margin-left:50px;
background-color: white;
}

.redcircle
{
border-radius:15px ;
width:40px;
height: 40px;
float: left;
margin:16px;
border: 1px solid black;
background-color:crimson;
}

#cell1
{
width:126px;
height:250px;
border: 1px solid;
float:left;
margin-left:px;
margin-top:px;
background-color:white;
}

#cell2
{
width:251px;
height:125px;
border: 1px solid;
float:left;
margin-left:px;
margin-top:0px;
background-color:white;
}

#cell3
{
width:126px;
height:250px;
border: 1px solid;
float:left;
margin-left:-127px;
margin-top:125px;
background-color:white;
}

#cell4
{
width:251px;
height:125px;
border: 1px solid;
float:left;
margin-left:377px;
margin-top:-378px;
background-color:white;
}


.row
{

width: 40px;
height: 40px;
border: 1px solid #000;
float:left;
}


#greenbox
{
width:250px;
height:250px;
border: 1px solid;
float:left;
margin-left:378px;
margin-top:-253px;
background-color: #009900;
}



.greencircle{
border-radius:15px ;
width:40px;
height: 40px;
float: left;
margin:16px;
border: 1px solid black;
background-color:green;
}


#bluebox
{
width:250px;
height:250px;
border: 1px solid;
float:left;
margin-left:-378px;
margin-top:125px;
background-color: #66CCFF;
}

.bluecircle{
border-radius:15px ;
width:40px;
height: 40px;
float: left;
margin:16px;
border: 1px solid black;
background-color:skyblue;
}

#yellowbox
{
width:250px;
height:250px;
border: 1px solid;
float:left;
margin-top:125px;
margin-left:1px;
background-color: #FFCC00;
}

.yellowcircle{
border-radius:15px ;
width:40px;
height: 40px;
float: left;
margin:16px;
border: 1px solid black;
background-color:yellow;
}


#dabba
{
border-top: 63px solid #009900;
border-left: 63px solid #FF0000;
border-right: 63px solid #FFCC00;
border-bottom: 63px solid #66CCFF;
float:left;
}

